p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.profile {
  padding: 20px;
  margin-bottom: 60px;
  width: 300px;

  background-color: rgb(140, 157, 172);
  text-align: center;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
  width: 150px;
  border-radius: 50%;
}

.stats {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.item {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 115px;
  background-color: rgb(255, 255, 255);
  border-style: dashed;
  border-width: 1px;
}

.name {
  margin-bottom: 10px;

  font-size: 25px;
  font-weight: bold;
}

.tag {
  margin-bottom: 5px;
}

.location {
  margin-bottom: 5px;
}

.label {
  margin-bottom: 5px;
  display: block;

  font-size: 12px;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
