p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.friendList {
  margin-bottom: 60px;
}

.item {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 4px;
  padding: 15px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.isOnline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}
.isOffline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  margin: 0 15px;
}

.name {
  font-weight: bold;
  font-size: 22px;
}
